{% extends "_layout.twig" %}

{% block content %}
	<img class="logo" src="images/logo_light.png">
	<p>Vítejte v oficiální aplikaci Obroku 2019!</p>
	<img class="logo" src="images/SKAUT_horizontalni_logo.svg">
	<p>Obrok 19 pořádá <a href="https://www.skaut.cz/">Junák - český skaut</a></p>
	<button class="button-primary pure-button pure-button-primary">Aktivuj si notifikace o akci!</button>
{% endblock %}
