{% extends "_layout.twig" %}

{% block content %}
	<img class="logo" src="images/logo_light.png">
	<p>Vítejte v oficiální aplikaci Obroku 2019!</p>
	<button class="button-primary pure-button pure-button-primary">Aktivuj si notifikace!</button>
{% endblock %}
