{% extends "_layout.twig" %}

{% block header %}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block highlight %}links{% endblock %}

{% block content %}
	<h1>Odkazy</h1>
	<p><a class="highlight" href="tel:797859598">Krizový telefon <i class="fas fa-mobile-alt"></i> 797 859 598</a></p>
	<p><a href="https://obrok19.cz/"><i class="fas fa-globe-africa"></i> obrok19.cz</a></p>
	<p><a href="https://cs-cz.facebook.com/skautskyobrok/"><i class="fab fa-facebook-square"></i> facebook.com/skautskyobrok</a></p>
	<p><a href="https://www.instagram.com/obrok_official/"><i class="fab fa-instagram"></i> instagram.com/obrok_official</a></p>
	<p><a href="mailto:info@obrok19.cz"><i class="fas fa-envelope"></i> info@obrok19.cz</a></p>
{% endblock %}
