{% extends "_layout.twig" %}

{% block content %}
	<h1>Novinky</h1>
	<p><b>sobota 11:00</b> - Rádi bychom Vás pozvali na vzdálené nezakreslené místo v mapě!</p>
	<p><b>pátek 14:54</b> - Hlavní program bude na stagi, a ne na louce!</p>
	<p><b>pátek 14:43</b> - Hlavní program bude na velké louce!</p>
{% endblock %}
