{% extends "_layout.twig" %}

{% block content %}
	<h1>Novinky</h1>
	<div class="news">
		<h3>sobota 11:00</h3>
		<p>Rádi bychom Vás pozvali na vzdálené nezakreslené místo v mapě!</p>
	</div>
	<div class="news">
		<h3>pátek 14:54</h3>
		<p>Hlavní program bude na stagi, a ne na louce!</p>
	</div>
	<div class="news">
		<h3>pátek 14:43</h3>
		<p>Hlavní program bude na velké louce!</p>
	</div>
{% endblock %}
